:root {
  font-size: 16px;
  --mid-padding: 12px;
}

body {
  padding: 0;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 100;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.5);
  flex: 1;
}

.note>td:first-child {
  flex: 3;
  font-size: 1.2em;
  overflow: hidden;

}

tbody {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  gap: 10px;
}

tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: var(--mid-padding);
}

.error {
  font-size: 1.2em;
  color: red;
  padding: var(--mid-padding);
  box-shadow: rgb(0, 0, 0, 0.5);
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  text-shadow: 1px 1px 2px rgb(255, 0, 0, 0.5);
}
